<%- include('../partials/header') %>
    <h2>Enter a New Recipe</h2>
    <form action="/recipes" method="POST">
        <label>Name of Your Recipe:
            <input type="text" name="recipeName">
        </label><br>
        <label>Prep Time (in minutes):
            <input type="number" name="prepTime">
        </label><br>
        <label>Cook Time (in minutes):
            <input type="number" name="cookTime">
        </label><br>
        <label>Ingredients (use commas to separate each)
            <input type="string" name="ingredients">
        </label><br>
        <button class="greenbtn" type="submit" rows="10" cols="50">Add Recipe</button>
    </form>
    <%- include('../partials/footer') %>