<%- include('../partials/header') %>
    <h2>Enter a New Recipe</h2>
    <form action="/recipes" method="POST">
        <label>Title:
            <input type="text" name="recipeName">
        </label><br>
        <label>Prep Time (in minutes):
            <input type="number" name="prepTime">
        </label><br>
        <label>Cook Time (in minutes):
            <input type="number" name="cookTime">
        </label><br>
        <label>Ingredients:
            <input type="string" name="ingredients">
        </label><br>
        <button type="submit">Add Recipe</button>
    </form>
    <%- include('../partials/footer') %>